%div.container
  %p#notice= notice

  %p
    %b Title:
    = @poll.title

  %hr

  %h2 Questions

  %div
    -@poll.questions.each do |question|
      %li=question.title

  %h2 Replies

  -@poll.replies.each do |reply|
    .col-md-6
      .panel.heading.text-right
        =time_ago_in_words reply.created_at
      .panel-body
        %dl
          -reply.answers.each do |answer|
            %dt=answer.question.title
            %dd

              =answer.value.present? ? answer.value : answer.possible_answer.title

  = link_to 'Edit', edit_poll_path(@poll)
  \|
  = link_to 'Back', polls_path

  = link_to 'Add Question', new_poll_question_path(@poll), class: "btn btn-default"
